<div class="table-card">
  <div class="table-header">
    <div class="icon-box">
      <i class="bx bx-table"></i>
    </div>

    <div class="text-content">
      <h3 class="title">{{ title }}</h3>
      <p class="table-description">{{ description }}</p>
    </div>
  </div>

  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          @for (col of columns; track col) {
            <th>{{ col }}</th>
          }
        </tr>
      </thead>

      <tbody>
        @for (row of rows; track row) {
          <tr>
            <!-- NAME -->
            <td>{{ row.name }}</td>

            <!-- STATUS BADGE -->
            <td>
              <span class="status" [ngClass]="getStatusClass(row.status)">
                {{ row.status }}
              </span>
            </td>

            <!-- OWNER -->
            <td>{{ row.owner }}</td>

            <!-- PROGRESS BAR -->
            <td>
              <div class="progress-wrapper">
                <div class="progress-bar">
                  <div
                    class="progress-fill"
                    [style.width.%]="row.progress"
                  ></div>
                </div>
                <span class="progress-text">{{ row.progress }}%</span>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
