<div class="header">
  <div class="header-left">
    <div>
      <h2>Project Monitoring System</h2>
      <p>Engineering Monitoring Dashboard</p>
    </div>
  </div>

  <div class="header-actions">
    <div class="search-box">
      <i class="bx bx-search"></i>

      <input type="text" placeholder="Search project..." />
    </div>

    <button class="create-btn" (click)="goToCreate()">
      <i class="bx bx-plus"></i>
      <span>Create Project</span>
    </button>

    <button class="notification-btn">
      <i class="bx bx-bell"></i>
    </button>

    <div class="profile-section">
      <div class="avatar">K</div>

      <div class="profile-info">
        <h4>Kevin</h4>
        <p>Engineer</p>
      </div>
    </div>
  </div>
</div>
